content {
    --background: #000000;
    .header {
      position: fixed;
      top: 5vh;
      width: 125%;
      height: 100px;
      z-index: 1;
      transition: background-color 0.3s;

      &.dark {
        background-color: #000;
      }

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: 37.5%;
        position: relative;
      }
    }

    .form h1{
      margin-left: 47.75%;
      margin-bottom: 20px;
    }

    .form input {
      width: 35%;
      background-color: #333333;
      margin: auto;
    }

    .form {
      margin-top: 8%;
      padding-left: 30px;
      padding-right: 30px;
      top: 20vh;
      position: relative;

      button {
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
      }
    }
    .form button {
      position: relative;
      left: 45%;
      top: 10px;
      width: 10%;
      //text-align: center;
    }
    .login {
      width: 50%;
    }

    .signUp {
      background: none;
    }
  }
