<header class="ion-no-border">

    <buttons slot="start">
      <!-- <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button> -->
    </buttons>

</header>

<content>
  <div class="header">

    <img src="assets/img/logo.png" />

  </div>

  <form class="form">
    <h1>Login</h1>
    <input placeholder="Email"></input><br>
    <input type="password" placeholder="Senha"></input>
    <br/>
    <button routerLink="/home"expand="block" shape="round" class='login' >Entrar</button>
    <button routerLink="/sign-up" fill ='clear' class='signUp' >Cadastre-se</button>
  </form>
</content>
